body {
  background-color: black;
  color: white;
}

.intro-wrapper {
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-grow: 1;
}

.intro-body {
  width: 100%;
  height: 101vh;
  overflow: hidden;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.intro-content {
  text-align: center;
  padding: 0 5%;
  width: 100%;
  position: relative;
  top: -5%;
}

.heading {
  font-size: 5.5em;
  font-weight: 700;
  position: relative;
  padding-bottom: 10px;
  overflow: hidden;
  opacity: 1;
}

.name {
  position: relative;
  display: inline-block;
  opacity: 1;
}

.subtext {
  position: relative;
  margin: 0;
  padding: 0;
  animation-name: reveal-down;
  animation-duration: .4s;
  animation-delay: .7s;
  display: inline-block;
  padding: 1.2em 0;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.5;
  color: #f2f2f2;
  text-transform: uppercase;
  font-family: Gotham, Helvetica, Arial, sans-serif;
  opacity: 1;
  margin: 0;
}

.scroll-down-wrapper {
  display: inline-block;
  padding: 1.2em 0;
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1.5;
  color: #f2f2f2;
  text-transform: uppercase;
  font-family: Gotham, Helvetica, Arial, sans-serif;
  opacity: 1;
  margin: 0;
}

.scroll-down {
  display: block;
  margin: 0 auto;
  transition: all .3s ease;
}

.section {
  width: 100%;
  height: auto;
  min-height: 700px;
  padding: 0;
  overflow: hidden;
  color: #f2f2f2;
  position: relative;
}

.section-wrapper {
  padding: 8%;
}

.section-wrapper .heading {
  font-size: 3em;
}
.section-subheading{
  width: 60%;
  font-size: 1.2em;
    font-weight: 500;
    line-height: 1.5;
    margin-top: 1em;
}

.divider{
  display: block;
    margin: 30px 0;
    width: 100px;
    height: 2px;
    background-color: #00b7c7;
}
.about-wrapper{
  padding-right: 20px;
}
.headshot{
  display: inline-block;
    width: 35%;
    height: auto;
    border-radius: 50%;
    margin-top: -150px;
    float: right;
    max-width: 450px;
}
.about-text-wrapper{
  display: inline-block;
    width: 60%;
    vertical-align: top;
}

.about-text{
  margin-bottom: 10px;
    font-size: 1.15em;
}

p{
  line-height: 1.5em;
}

#dot-nav {
    position: fixed;
    right: 34px;
    z-index: 1;
    top: 50%;
    bottom: auto;
    transform: translateY(-50%);
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s,opacity .5s ease;
  }
  #toggle {
    position: fixed;
    top: 25px;
    right: 25px;
    height: 27px;
    width: 30px;
    cursor: pointer;
    z-index: 100;
    display: none;
    transition: opacity .25s ease;
}

.overlay {
    position: fixed;
    background: rgba(0,183,199,.95);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    z-index: 10;
    transition: all .3s ease;
}

@media only screen and (max-width: 1000px) {
  .section-subheading{
    width: 100%;
  }
  .headshot {
    margin-top: 0;
    width: 100%;
    float: none;
    margin-bottom: 10%;
  }
  .about-text-wrapper{
    width: 100%;
  }
}
