html, body {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Montserrat";
}

h1 {
  color: #66BFBF;
  font-size: 5.625rem;
  font-family: 'Sacramento', cursive;
  text-align: center;
  font-weight: bold;
}

h2 {
  color: #44a2a2;
  text-align: center;
  font-size: 2.5rem;
  font-weight: normal;
  padding: 2.5% 0;
  font-family: "Montserrat-Black"
}

h3 {
  text-align: center;
  font-size: 1.5rem;
}

p {
  line-height: 2;
}

hr {
  height: 2px;
  width: 10%;
  background-color: #0aaa7a;
  margin: 15px 0 20px 0;
}

.container-fluid {
  padding: 3% 5%;
}

.col-md-12, .col-sm-6, .col-sm-4 {
  padding-top: 2.5%;
  padding-bottom: 2.5%;
}

.pratik-img {
  width: 20%;
  border-radius: 50%;
}

#title {
  background-color: #E0EBE8;
}

#education {
  padding: 5% 0;
  background-color: #E0EBE8;
}

#footer {
  text-align: center;
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

.title-head {
  padding-bottom: 0;
}

.navbar {
  padding: 0 0 5%;
}

.navbar-brand {
  color: #66BFBF !important;
  font-weight: normal;
  font-size: 1.5rem;
}

.nav-link {
  color: #66BFBF !important;
  font-weight: normal;
  font-size: 1.5rem !important;
}

.nav-item:hover {
  color: #1e836c !important;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-Light";
  padding: 0 .75rem !important;
}

.navbar-toggler:focus, .navbar-toggler:active {
  outline: none;
  box-shadow: none;
}

.bio {
  text-align: center;
  line-height: 2;
  font-size: 1.25rem;
  font-family: "Merriweather", serif;
}

.grad-img {
  color: #44a2a2;
  display: block;
  padding: 2.5% 0;
}

a {
  color: #66BFBF;
  ;
}

a:hover {
  text-decoration: none;
  color: black;
}

ul {
  line-height: 2.5;
  font-size: 1.2rem;
}

.carousel-item {
  padding: 0 5%;
}

.icon {
  color: black;
}

.view-tag {
  font-size: 1.5rem;
  text-align: center;
}

#profile {
  margin-bottom: 5%;
}

.coding-profiles {
  width: 70%;
  margin: auto;
}

.social {
  width: 60%;
  margin: auto;
}
.cod-img {
  width: 40%;
  display: inline-block;
  overflow: hidden;
}

.cod-img:hover {
  opacity: 0.5;
  transform: scale(1.5);
  -ms-transform: scale(1.5);
  /* IE 9 */
  -moz-transform: scale(1.5);
  /* Firefox */
  -webkit-transform: scale(1.5);
  /* Safari and Chrome */
  -o-transform: scale(1.5);
  /* Opera */
}
